/node_modules
/bin
/lib
/build
/out
/linux-build/
/ninja-build/
/win32-build/
/conan-temp/
__pycache__/
*.pyc
CMakeUserPresets.json
*/build/
msvc-193-x86_64-14-debug/
msvc-193-x86_64-14-release/
msvc-194-x86_64-14-debug/
msvc-194-x86_64-14-release/