/node_modules
/bin
/lib
/build
/out
/linux-build/
/ninja-build/
/win32-build/
/conan-temp/
__pycache__/
*.pyc
CMakeUserPresets.json
*/build/
msvc-193-x86_64-14-debug/
msvc-193-x86_64-14-release/
msvc-194-x86_64-14-debug/
msvc-194-x86_64-14-release/
msvc-194-x86_64-17-debug/
msvc-194-x86_64-17-release/
gcc-12-armv8-gnu17-debug/
gcc-12-armv8-gnu17-release/
gcc-9-x86_64-gnu14-debug/
gcc-9-x86_64-gnu14-release/
gcc-9-mips-gnu14-debug/
gcc-9-mips-gnu14-release/
build-debug/
build-release/
.vscode/
.history/
.DS_Store